<agm-map
    [latitude]="(selectedEvent?.venue.latitude || -33.8798623) - 0.002925"
    [longitude]="(selectedEvent?.venue.longitude || 151.2096914) - 0.00585"
    [scrollwheel]="false"
    [disableDoubleClickZoom]="false"
    [minZoom]="10"
    [maxZoom]="17"
    [zoom]="16"
    [streetViewControl]="false"
    [zoomControl]="false"
    [style.height.px]="height"
>
    <div *ngFor="let pair of events | keyvalue">
        <agm-marker *ngIf="pair.value[0].venue"
            [latitude]="pair.value[0].venue.latitude"
            [longitude]="pair.value[0].venue.longitude"
            [iconUrl]="iconOptions"
        ></agm-marker>
    </div>
</agm-map>
