$instagram-color: rgba(255, 255, 255, .6);

:host {
    display: inline-block;
    height: 300px;
    position: relative;
}

img {
    height: 100%;
    object-fit: cover;
    transition: filter .4s;
    width: 100%;

    &:hover {
        filter: brightness(1.5) saturate(2);
    }
}

.watermark {
    bottom: 20px;
    color: $instagram-color;
    pointer-events: none;
    position: absolute;
    right: 20px;
}

.photo-container {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
