<div class="ui grid container">
    <div class="sixteen wide column logos">
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-inverse fa-stack-2x"></i>
            <i class="fab fa-stack-1x fa-facebook-f"></i>
        </span>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-inverse fa-stack-2x"></i>
            <i class="fab fa-stack-1x fa-instagram"></i>
        </span>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-inverse fa-stack-2x"></i>
            <i class="fab fa-stack-1x fa-linkedin-in"></i>
        </span>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-inverse fa-stack-2x"></i>
            <i class="fab fa-stack-1x fa-youtube"></i>
        </span>
    </div>
    <div class="sixteen wide column">
        <h1>Enquiry? Come chat with us –<br>We're looking forward to speaking to you!</h1>
    </div>

    <div class="sixteen wide column email">
        <a href="mailto:someone@example.com">someone@example.com</a>
        <br>
        <span>Chat to us directly on Messenger <i class="fab fa-facebook-messenger fa-fw"></i></span>
    </div>
</div>
<!-- <div class="skyline"></div> -->
