<app-top-fade></app-top-fade>

<div class="container">
    <div class="row">
        <div class="col-12 logos">
            <i class="fab fa-fw fa-2x fa-soundcloud social-media"></i>
            <a target="_blank" href="https://www.facebook.com/The-Chamber-Project-239018320107634">
                <i class="fab fa-fw fa-2x fa-facebook-f social-media"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/thechamberproject">
                <i class="fab fa-fw fa-2x fa-instagram social-media"></i>
            </a>
            <a target="_blank" href="https://twitter.com/chamber_project">
                <i class="fab fa-fw fa-2x fa-twitter social-media"></i>
            </a>
            <a target="_blank" href="https://www.youtube.com/channel/UCJm1mQzbwhRK3h3_r1Jf-hQ">
                <i class="fab fa-fw fa-2x fa-youtube social-media"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1>Enquiry? Come chat with us – <br />We're looking forward to speaking to you!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 email">
            <a href="mailto:evan@thechamberproject.com.au">evan@thechamberproject.com.au <i class="fal fa-paper-plane"></i></a>
            <br />
            <a class="messenger" href="https://m.me/239018320107634" target="_blank">
                <span>Chat to us directly on Messenger <i class="fab fa-facebook-messenger fa-fw"></i></span>
            </a>
            <br />
            <a class="join" href="mailto:evan@thechamberproject.com.au">Want to join us? Get in touch!</a>
        </div>
    </div>

    <div class="row">
        <!-- Begin Constant Contact Inline Form Code -->
        <div class="newsletter">
            <div class="ctct-inline-form" data-form-id="6147c8cc-c07b-49ed-894b-683beb355f8b"></div>
        </div>
        <!-- End Constant Contact Inline Form Code -->
    </div>
</div>
