@import 'variables';
@import 'media-queries';

$bg-color: $primary-color;
$bg-color-gradient-1: rgba($primary-color, 1);
$bg-color-gradient-2: rgba($primary-color, .9);

:host {
    background: linear-gradient($bg-color-gradient-1 0%, $bg-color-gradient-1 10%, $bg-color-gradient-2 100%), url('/assets/footer/instrument-bg.png') repeat, $bg-color url('/assets/sydney-skyline.png') repeat-x center bottom;
    color: $text-color-inverse;
    display: block;
    position: relative;
}

.logos {
    display: flex;
    font-size: 14px;
    justify-content: flex-end;

    span {
        margin-left: 15px;
    }

    a {
        color: inherit;
    }
}

.email {
    font-family: $primary-font-family;
    font-size: 2rem;
    line-height: 1.5em;

    .messenger {
        color: inherit;
        font-size: 1.5rem;

        &:hover {
            text-decoration: underline;
            text-decoration-style: dashed;
        }
    }

    .join {
        color: inherit;
        font-size: 1rem;
    }
}



.skyline {
    bottom: 0;
    content: url('/assets/sydney-skyline.png');
    position: absolute;
    width: 100%;
}

.social-media {
    border: solid 1px $text-color-inverse;
    border-radius: 50%;
    height: 70px;
    margin-left: 20px;
    padding-top: 20px;
    transition: background-color $animation-duration, color $animation-duration;
    width: 70px;

    &:hover {
        background-color: $text-color-inverse;
        color: $bg-color;
        cursor: pointer;
    }
}

.container {
    padding-bottom: 90px;
}

@include respond-below(sm) {
    .social-media {
        border: 0;
        font-size: 20px;
        margin: 0;

        &:hover {
            background-color: initial;
            color: $text-color-inverse;
        }
    }

    .email {
        font-size: 1rem;

        .messenger {
            font-size: 1rem;
        }
    }

    h1 {
        font-size: 1.2em;
    }

    .logos {
        justify-content: center;
    }
}

.newsletter {
    margin: 100px 0 50px;
}
