<div class="ui grid container">
    <div class="sixteen wide column logos">
        <i class="fab fa-fw fa-2x fa-soundcloud social-media"></i>
        <i class="fab fa-fw fa-2x fa-facebook-f social-media"></i>
        <i class="fab fa-fw fa-2x fa-instagram social-media"></i>
        <i class="fab fa-fw fa-2x fa-linkedin-in social-media"></i>
        <i class="fab fa-fw fa-2x fa-youtube social-media"></i>
    </div>
    <div class="sixteen wide column">
        <h1>Enquiry? Come chat with us –
            <br>We're looking forward to speaking to you!</h1>
    </div>

    <div class="sixteen wide column email">
        <a href="mailto:someone@example.com">someone@example.com</a>
        <br>
        <span>Chat to us directly on Messenger
            <i class="fab fa-facebook-messenger fa-fw"></i>
        </span>
    </div>
</div>
<!-- <div class="skyline"></div> -->
