@import 'variables';

$bg-color: rgb(26, 26, 37);

:host {
    background: $bg-color url('/assets/sydney-skyline.png') repeat-x center bottom;
    background-size: 600px;
    color: $text-color-inverse;
    display: block;
    padding: 60px 0 150px;
    position: relative;
}

.logos {
    display: flex;
    text-align: right;

    span {
        margin-left: 15px;
    }
}

.email {
    font-family: $primary-font-family;
    font-size: 2rem;
    line-height: 1.5em;

    span {
        font-size: 1.5rem;
    }
}

.skyline {
    bottom: 0;
    content: url('/assets/sydney-skyline.png');
    position: absolute;
    width: 100%;
}

.social-media {
    border: solid 1px $text-color-inverse;
    border-radius: 50%;
    height: 70px;
    margin-left: 20px;
    padding-top: 20px;
    transition: background-color .25s, color .25s;
    width: 70px;

    &:hover {
        background-color: $text-color-inverse;
        color: $bg-color;
        cursor: pointer;
    }
}
