:host {
    display: block;
    height: 100%;
    width: 100%;
}

.img-container {
    height: inherit;
    overflow: hidden;
    position: relative;
}

.img-crop {
    bottom: 0;
    height: auto;
    left: 50%;
    min-height: 100%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

img {
    object-fit: cover;
}
