@import 'variables';
@import 'media-queries';

$bg-color: rgba($primary-color, .8);

:host {
    background-color: $bg-color;
    color: $text-color-inverse;
    display: block;
    height: 300px;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

@include respond-below(sm) {
    .listen {
        display: none;
    }
}
