<div class="container">
    <div class="row wrapper">
        <div class="col-lg-4">
            <h1>Next Event</h1>
            <ng-container class="event" *ngIf="event$ | async as events; else noEvent">
                <p class="event-date" *ngFor="let event of events">
                    <a href="{{ event.event.url }}" target="_blank"
                        ><span class="date">{{ event.event.start.local | date }}</span>
                        <span class="time">{{ event.event.start.local | date: 'shortTime' }}</span></a
                    >
                </p>
                <p>
                    <a href="{{ events[0].event.url }}" target="_blank"
                        ><span class="name">{{ events[0].event.name.text }}</span></a
                    >
                </p>
                <p>
                    <a
                        class="location"
                        target="_blank"
                        href="http://www.google.com/maps/place/{{ events[0].venue.latitude }},{{ events[0].venue.longitude }}"
                        >@{{ events[0].venue.name }}</a
                    >
                </p>
            </ng-container>
            <ng-template #noEvent>
                <p>No upcoming events</p>
            </ng-template>
        </div>

        <div class="col-lg-4">
            <div class="listen">
                <h1>Listen to our music</h1>

                <p>Coming soon</p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="about">
                <h1>About</h1>

                <p>
                    <span class="slogan">Eat. Drink. Listen.</span> Merging classical music with urban life, The Chamber Project brings
                    extraordinary musical experiences to a unique, familiar setting. Together with Soultrap, we aim to give you the best way
                    to experience this music—close up, well nourished, in comfort.
                </p>
            </div>
        </div>
    </div>
</div>
