<div class="container">
    <div class="sixteen wide column">
        <div class="wrapper">
            <div *ngIf="(event$ | async) as event">
                <h1>Next Event</h1>

                <p>{{ event.event.start.local | date }} {{ event.event.start.local | date: 'shortTime' }}</p>
                <p>{{ event.event.name.text }}</p>
                <p>@{{ event.venue.name }}</p>
            </div>

            <div class="listen">
                <h1>Listen to our music</h1>
            </div>
        </div>
    </div>
</div>
