@import 'variables';
@import 'media-queries';

$bg-color: rgba($primary-color, .3);
$text-color: darken($text-color-inverse, 20%);

$black: #000;
$white: #fff;
$date-padding: 6px;

:host {
    background-color: $bg-color;
    color: $text-color-inverse;
    display: block;
    padding-bottom: 30px;
    width: 100%;
    z-index: 2;
}

h1 {
    min-height: initial;
}

.wrapper {
    .event {
        p {
            text-transform: uppercase;
        }
    }

    .about {
        p {
            color: $text-color;
        }
    }

    .date {
        background-color: $black;
        color: $white;
        font-weight: 900;
        padding: $date-padding;
    }

    .time {
        background-color: $white;
        color: $black;
        font-weight: 900;
        padding: $date-padding;
    }

    p {
        font-size: 1.1em;
        font-weight: 500;
    }

    .name {
        background-color: $black;
        color: $white;
        font-weight: 900;
        line-height: 33px;
        padding: $date-padding;
    }

    .location {
        background-color: $white;
        color: $black;
        font-weight: 900;
        padding: $date-padding;
    }
}

@include respond-below(sm) {
    .listen {
        display: none;
    }
}
