$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Lato', sans-serif;
$ternary-font-family: 'Permanent Marker', sans-serif;

$text-color: rgb(47, 45, 51);
$text-color-inverse: #fff;

$primary-color: #1a1a25;

$link-color: #4183c4;

$animation-duration: 0.25s;
