// You can add global styles to this file, and also import other style files
@import url('https://fonts.googleapis.com/css?family=Krub:200|Open+Sans:300');
@import 'variables';

h1 {
    // sass-lint:disable no-important
    font-family: $primary-font-family !important;
    font-weight: 200 !important;
    line-height: 1.5em !important;
}
