@import 'variables';
@import 'media-queries';

$shade: rgba($text-color-inverse, .2);

:host {
    display: flex;
    flex-direction: row;
}

.date {
    border: 2px solid $text-color-inverse;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin-right: 24px;
    min-width: 100px;
    padding: 10px;

    &:hover {
        background-color: $shade;
        cursor: pointer;
    }

    .day {
        font-size: 2.5em;
        margin-bottom: -3px;
        text-align: center;
    }

    .month {
        text-align: center;
    }

    .time {
        text-align: center;
    }
}

.date-link {
    color: $text-color-inverse;
}

.info {
    .description {
        text-align: justify;
    }

    .address {
        font-weight: bold;
    }

    h2 {
        margin-top: 0;
    }

    a {
        &:hover {
            filter: brightness(150%);
        }
    }
}

@include respond-between(md, lg) {
    .date-link {
        display: none;
    }
}


@include respond-below(sm) {
    .date-link {
        display: none;
    }
}
