<a class="date-link" target="_blank" href="{{ event.value[0].event.url }}">
    <div class="date">
        <div class="day">{{ event.value[0].event.start.local | date: 'd' }}</div>
        <div class="month">{{ event.value[0].event.start.local | date: 'MMM' }}</div>
        <div class="time">{{ event.value[0].event.start.local | date: 'shortTime' }}</div>
    </div>
</a>

<div class="info">
    <h2>{{ event.value[0].event.name.text }}</h2>
    <p class="date">{{ event.value[0].event.start.local | date: 'MMM d, y, h:mm a' }}</p>
    <p class="address">
        <a target="_blank" href="http://www.google.com/maps/place/{{ event.value[0].venue.latitude }},{{ event.value[0].venue.longitude }}"
            ><i class="fas fa-map-marker-alt"></i> {{ event.value[0].venue.name }} -
            {{ event.value[0].venue.address.localized_address_display }}</a
        >
    </p>
    <p class="description">{{ event.value[0].event.summary }}</p>
    <a target="_blank" href="{{ event.value[0].event.url }}"><i class="far fa-link"></i> More info and how to book on Eventbrite</a>

    <div *ngIf="event.value[1]">
        <h3>Other Dates:</h3>
        <div *ngFor="let event of event.value | slice: 1; let i = index">
            <a target="_blank" href="{{ event.event.url }}"
                ><i class="far fa-link"></i>{{ event.event.start.local | date: 'MMM d, y, h:mm a' }}</a
            >
        </div>
    </div>
</div>
