<div class="container">
    <h1>Listen</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="video">
                <youtube-player videoId="WwaT0xRf_ec" suggestedQuality="highres" [height]="500" [width]="1024"> </youtube-player>
            </div>

            <p class="youtube-link">
                To listen to more of our work, visit our
                <a target="_blank" href="https://www.youtube.com/channel/UCJm1mQzbwhRK3h3_r1Jf-hQ"
                    ><i class="fab fa-fw fa-youtube"></i> YouTube Channel</a
                >
            </p>
        </div>
    </div>
</div>
