@import 'variables';

:host {
    background-color: $primary-color;
    color: $text-color-inverse;
    display: block;
    padding-bottom: 100px;
    padding-top: 100px;
    width: 100%;
}

.masonry-item {
    width: 25%;
}
