<div class="container">
    <h1>Musicians</h1>
</div>

<!-- <ngx-masonry>
    <ngxMasonryItem class="masonry-item" *ngFor="let musician of musicians">
        <app-musician-card [name]="musician.name"></app-musician-card>
    </ngxMasonryItem>
</ngx-masonry> -->

<div class="container">
    <div class="flex-container">
        <app-musician-card [musician]="musician" *ngFor="let musician of musicians"></app-musician-card>
    </div>
</div>

<div class="container">
    <a class="email" href="mailto:evan@thechamberproject.com.au">Want to join us? Email evan@thechamberproject.com.au <i class="far fa-drum"></i></a>
</div>
