@import 'variables';

$bg-color-gradient-1: rgba($text-color-inverse, .95);

:host {
    background: linear-gradient($bg-color-gradient-1 0%, $bg-color-gradient-1 100%), $text-color-inverse url('/assets/footer/instrument-bg.png') fixed center repeat;
    color: $text-color;
    display: block;
    filter: grayscale(1);
    width: 100%;
}

.masonry-item {
    width: 25%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

app-musician-card {
    transition: width $animation-duration;
    width: 300px;

    &:hover {
        width: 400px;
    }
}
