// sass-lint:disable-all
$primary-color: #ff6b6b;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);
$bg-color: #ccd5db;

h1,
h2,
h3,
h4,
h5,
h6 {
    // color: #3d4351;
    margin-top: 0;
}

a {
    color: $primary-color;

    &:hover {
        color: $primary-color-hover;
        text-decoration: none;
    }
}

.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: inherit;
    }
}

.timeline-item {
    padding-left: 40px;
    position: relative;

    &:last-child {
        padding-bottom: 0;
    }
}

.timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 0.5em;
    text-transform: uppercase;
    white-space: nowrap;
}

.timeline-marker {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 15px;

    &::before {
        background: $primary-color;
        border: 3px solid transparent;
        border-radius: 100%;
        content: '';
        display: block;
        height: 15px;
        left: 0;
        position: absolute;
        top: 4px;
        transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
        width: 15px;
    }

    &::after {
        background: $bg-color;
        bottom: 0;
        content: '';
        display: block;
        left: 6px;
        position: absolute;
        top: 24px;
        width: 3px;
    }

    .timeline-item:last-child &::after {
        content: none;
    }
}

.timeline-item:not(.period):hover .timeline-marker::before {
    background: transparent;
    border: 3px solid $primary-color;
}

.timeline-content {
    padding-bottom: 40px;

    p:last-child {
        margin-bottom: 0;
    }
}

.period {
    padding: 0;

    .timeline-info {
        display: none;
    }

    .timeline-marker {
        &::before {
            background: transparent;
            border: 0;
            border-bottom: 3px solid $bg-color;
            border-radius: 0;
            border-top: 3px solid $bg-color;
            bottom: 30px;
            content: '';
            height: auto;
            position: absolute;
            top: 0;
            width: 15px;
        }

        &::after {
            content: '';
            height: 32px;
            top: auto;
        }
    }

    .timeline-content {
        padding: 40px 0 70px;
    }

    .timeline-title {
        margin: 0;
    }
}

.timeline-split {
    @media (min-width: 768px) {
        .timeline {
            display: table;
        }

        .timeline-item {
            display: table-row;
            padding: 0;
        }

        .timeline-info,
        .timeline-marker,
        .timeline-content,
        .period .timeline-info {
            display: table-cell;
            vertical-align: top;
        }

        .timeline-marker {
            position: relative;
        }

        .timeline-content {
            padding-left: 30px;
        }

        .timeline-info {
            padding-right: 30px;
        }

        .period .timeline-title {
            left: -45px;
            position: relative;
        }
    }
}

.timeline-centered {
    @extend .timeline-split;
    @media (min-width: 992px) {
        &,
        .timeline-item,
        .timeline-info,
        .timeline-marker,
        .timeline-content {
            display: block;
            margin: 0;
            padding: 0;
        }

        .timeline-item {
            overflow: hidden;
            padding-bottom: 40px;
        }

        .timeline-marker {
            left: 50%;
            margin-left: -7.5px;
            position: absolute;
        }

        .timeline-info,
        .timeline-content {
            width: 50%;
        }

        > .timeline-item:nth-child(odd) .timeline-info {
            float: left;
            padding-right: 30px;
            text-align: right;
        }

        > .timeline-item:nth-child(odd) .timeline-content {
            float: right;
            padding-left: 30px;
            text-align: left;
        }

        > .timeline-item:nth-child(even) .timeline-info {
            float: right;
            padding-left: 30px;
            text-align: left;
        }

        > .timeline-item:nth-child(even) .timeline-content {
            float: left;
            padding-right: 30px;
            text-align: right;
        }

        > .timeline-item.period .timeline-content {
            float: none;
            padding: 0;
            text-align: center;
            width: 100%;
        }

        .timeline-item.period {
            padding: 50px 0 90px;
        }

        .period .timeline-marker::after {
            bottom: 0;
            height: 30px;
            top: auto;
        }

        .period .timeline-title {
            left: auto;
        }
    }
}

.marker-outline {
    .timeline-marker {
        &::before {
            background: transparent;
            border-color: $primary-color;
        }
    }

    .timeline-item:hover .timeline-marker::before {
        background: $primary-color;
    }
}
