@import 'variables';
@import 'media-queries';

:host {
    background-color: $primary-color;
    color: $text-color-inverse;
    display: block;
    height: 100%;
    padding: 60px;
    width: 100%;
}

app-event {
    margin-bottom: 24px;
}
