@import 'variables';
@import 'media-queries';

:host {
    display: block;
    position: relative;
    width: 100%;
}

.wrapper {
    bottom: 0;
    height: 200px;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

path {
    fill: $primary-color;
}

@include respond-below(md) {
    .wrapper {
        height: 100px;
    }
}
