<div class="ui full container">
    <div class="items">
        <img pageScroll href="#top" class="logo" alt="Logo" src="assets/logos/logo-small.png" />

        <ul>
            <li>
                <a pageScroll href="#about">About</a>
            </li>
            <li>
                <a pageScroll href="#discography">Discography</a>
            </li>
            <li>
                <a pageScroll href="#musicians">Musicians</a>
            </li>
            <li>
                <a pageScroll href="#events">What's On</a>
            </li>
            <li>
                <a pageScroll href="#footer">Contact</a>
            </li>
        </ul>
    </div>
</div>
