@import 'variables';
@import 'media-queries';
// sass-lint:disable no-important

$nav-height: 100px;

:host {
    background-color: $primary-color;
    height: $nav-height;
    position: fixed;
    transition: background-color $animation-duration;
    width: 100%;
    z-index: 10;

    &.unscrolled {
        background-color: transparent;
    }
}

.items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 16px;
    width: 100%;

    .logo-block {
        align-items: center;
        display: flex;
    }

    .desktop {
        margin-right: 20px !important;
    }

    .logo {
        height: 50px;

        &:hover {
            cursor: pointer;
        }

        &.mobile {
            height: 15px;
        }
    }
}

.full {
    height: calc(100% - 14px);
    margin-top: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

li {
    float: left;

    a {
        color: $text-color-inverse;
        display: block;
        padding: 14px 20px;
        text-align: center;
        text-decoration: none;

        &:hover {
            color: $text-color;
        }
    }
}

.mobile-nav {
    .panel {
        background-color: $primary-color;
        display: block;
        height: 100vh;
        position: fixed;
        right: 0;
        top: $nav-height;
        transform: translate(300px);
        transition: transform $animation-duration;
        width: 300px;

        li {
            float: initial;
            margin: 20px 0;
        }

        &.is-active {
            transform: translate(0);
        }
    }
}

.hamburger-inner {
    background-color: $text-color-inverse !important;

    &::before,
    &::after {
        background-color: $text-color-inverse !important;
    }
}

@include respond-below(sm) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: initial;
    }

    :host {
        &.unscrolled {
            background-color: $primary-color;
        }
    }

    .logo {
        &.desktop {
            display: none;
        }
    }
}

@include respond-above(sm) {
    .desktop-nav {
        display: initial;
    }

    .mobile-nav {
        display: none;
    }
}
