@import 'variables';
@import 'media-queries';

:host {
    display: block;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    z-index: 10;
}

app-map {
    left: 0;
    position: absolute;
    top: 0;
}

@include respond-below(sm) {
    :host {
        background-color: $primary-color;
        height: initial;
    }
}
