@import 'variables';
@import 'media-queries';

:host {
    bottom: 70px;
    position: fixed;
    right: 70px;
    transition: opacity $animation-duration;

    &.unscrolled {
        opacity: 0;
        pointer-events: none;

        .flex-box {
            // sass-lint:disable nesting-depth
            .side-text {
                margin-right: -60px;
            }
        }
    }

    &.inverted {
        color: $text-color-inverse;

        .fa-chevron-up {
            color: $text-color;
        }
    }
}

.clickable {
    cursor: pointer;

    i {
        transition: color $animation-duration;
    }

    &:hover {
        .fa-circle {
            color: $text-color-inverse;
        }

        .fa-chevron-up {
            color: $text-color;
        }
    }
}

.flex-box {
    align-items: center;
    display: flex;

    .side-text {
        font-size: 0.7em;
        margin-right: 10px;
        pointer-events: none;
        text-transform: uppercase;
        transition: margin-right $animation-duration;
    }
}

@include respond-below(sm) {
    :host {
        display: none;
    }
}
