<app-top-fade></app-top-fade>
<div class="ui grid container">
    <h1>About</h1>

    <div class="ui grid">
        <div class="eight wide column">
            <p>
                Eat. Drink. Listen. Merging classical music with urban life, The Chamber Project brings extraordinary musical experiences to
                a unique, familiar setting. Together with Soultrap, we aim to give you the best way to experience this music—close up, well
                nourished, in comfort.
            </p>

            <p>
                Praesent dapibus dapibus aliquam. Fusce egestas in tellus at aliquet. In in ipsum bibendum, pretium ante et, cursus lorem.
                Nulla pretium feugiat metus, non pretium justo condimentum at. In hac habitasse platea dictumst. Sed in risus eget orci
                rhoncus gravida. Nullam quis faucibus ante, vel sagittis erat. Integer bibendum neque et faucibus lobortis. Morbi in leo
                mauris. Proin quis auctor tortor.
            </p>

            <p>
                Suspendisse euismod vitae diam a tristique. Aliquam nec sodales nisl, eu luctus tellus. Etiam malesuada, enim non placerat
                laoreet, libero leo condimentum ipsum, eget euismod sem mi non metus. Nulla sollicitudin nunc in lacus efficitur pretium.
                Sed finibus leo non dolor rutrum, sed sollicitudin risus sagittis. Donec ipsum odio, tristique et nunc id, suscipit mollis
                orci. Duis fringilla enim libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
    </div>
</div>
<app-bottom-fade></app-bottom-fade>
