<app-top-fade></app-top-fade>

<div class="container">
    <h1>About</h1>

    <div class="row">
        <div class="col-lg-6">
            <p>
                Eat. Drink. Listen. Merging classical music with urban life, The Chamber Project brings extraordinary musical experiences to
                a unique, familiar setting. Together with Soultrap, we aim to give you the best way to experience this music—close up, well
                nourished, in comfort.
            </p>
        </div>
    </div>
</div>

<app-bottom-fade></app-bottom-fade>
